body {
  font-family: Lato, Roboto, Arial, Helvetica, sans-serif;
}

g.dept, g.subdept, g.brand, g.product {
  cursor: pointer;
}

.product .name {
  fill: #0066c0;
  cursor: pointer;
}

.product .name:hover, .price:hover {
  fill: #c45500;
}

.brand rect.wrap {
  fill: #fff;
  stroke: lightgray;
  stroke-width: 1px;
  height: 175px;
  width: 375px;
  filter:url(#dropshadow);
}

.brand image {
  width: 150px;
  height: 150px;
}

.product rect.wrap {
  fill: #fff;
  stroke: lightgray;
  stroke-width: 1px;
  height: 375px;
  width: 175px;
  filter:url(#dropshadow);
}

.product image {
  width: 175px;
  height: 175px;
}