html, body {
  font-family: Lato, Roboto, Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

svg {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

g.dept, g.subdept, g.brand, g.product {
  cursor: pointer;
}

g rect.bg-rect {
  fill-opacity: 0;
}

g.latest rect.bg-rect {
  /* fill: lightgray; */
  /* animation: latest 7s forwards 1; */
}

@keyframes latest {
  from {fill-opacity: 1;}
  to {fill-opacity: 0.1;}
}

g rect.wrap {
  /* stroke:lightgray;
  stroke-width: 1px; */
  filter:url(#little-glow);
}

g.latest rect.wrap {
  filter:url(#big-glow);
}

.product .name {
  fill: #0066c0;
  cursor: pointer;
}

.product .name:hover, .price:hover {
  fill: #c45500;
}

.product rect.wrap {
  fill: #fff;
  stroke: lightgray;
  stroke-width: 1px;
}

.product image.item-image {
  width: 175px;
  height: 175px;
}

.brand rect.wrap {
  fill: #fff;
  stroke: lightgray;
  stroke-width: 1px;
}


.brand image {
  width: 150px;
  height: 150px;
}

.dept {
  letter-spacing: 3px;
  text-transform: uppercase;
}
.dept image {
  display: none;
}